body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   position: relative; /* Diperlukan untuk memastikan lapisan overlay berada di atas gambar latar belakang */
  background-image: url("../assets/img/login/1.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  width: 300px;
}

.login a {
  width: 100px;
}

.card-body {
  text-align: center;
}

.sign-up a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .card {
    width: 400px;
    margin: 0 190px;
  }
}
