<<<<<<< HEAD

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(40, 40, 40) ;
}

.HiUser-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value based on your layout */
}

.HiUser {
    margin-top: 20px;
}

.modal-body table {
    margin-top: 10px;
}

.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.calendar-card img {
    height: 200px;
    object-fit: cover;
}

/* Styling for task tables */
.task-table {
    width: 100%;
}

/* Styling for table header */
.task-table thead th {
    font-weight: bold;
    text-align: center;
}

/* Styling for table rows */
.task-table tbody td {
    padding: 8px;
}

/* Styling for alternating row colors */
.task-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling for task name */
.task-name {
    width: 40%;
}

/* Styling for teacher name */
.teacher {
    width: 30%;
}

/* Styling for deadline */
.deadline {
    width: 30%;
    text-align: center;
}



=======

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(40, 40, 40) ;
}

.HiUser-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value based on your layout */
}

.HiUser {
    margin-top: 20px;
}

.modal-body table {
    margin-top: 10px;
}

.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.calendar-card img {
    height: 200px;
    object-fit: cover;
}

/* Styling for task tables */
.task-table {
    width: 100%;
}

/* Styling for table header */
.task-table thead th {
    font-weight: bold;
    text-align: center;
}

/* Styling for table rows */
.task-table tbody td {
    padding: 8px;
}

/* Styling for alternating row colors */
.task-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling for task name */
.task-name {
    width: 40%;
}

/* Styling for teacher name */
.teacher {
    width: 30%;
}

/* Styling for deadline */
.deadline {
    width: 30%;
    text-align: center;
}



>>>>>>> 4bc0a2fbf3b3fc9b607389d0c57cf1e1bf7658a2
